<div class="aboutUsDiv col-sm-12 col-md-12 col-lg-12">
  <div class="aboutUsDiv col-sm-8 col-md-8 col-lg-8 ">
    <h2>About Us</h2>
    <div>
      <p class="aboutUsData">
        Two decade experience in ferrite and transformer industry. Started business in 2004 in with electrical transformers Expanded
        setup in 2005.<br> Successful Development of projects like:</p>
      <ul class="aboutUsData">
        <li>Solenoid coil</li>
        <li>Drum core for Industrial and consumer Industry</li>
        <li>Pull winder for CTs</li>
        <li>Induction heating component</li>
        <li>Added ferrite core transformer , CT’s , Solenoid coil , Leaded drum core , Choke , Component for Induction heating</li>
      </ul>
    </div>
    <h2>Our Journey</h2>
    <div>
      <ul class="aboutUsData">
        <li><strong>2007 - 2008: </strong>Serial production 50KPM of sensor assemblies and 35PM Induction cooker coils for end
          user in Europeon market</li>
        <li><strong>2008 - 2009: </strong>Product : Electronic inverter transformer and Commom mode choke and SPMS Transformers</li>
        <li><strong>2009 - 2009: </strong> Developed cross coil winding for RPM . Serial production of 2500 per day delivered
          to minda stoneridge</li>
        <li><strong>2009 - 2015: </strong> Follwoing projects were successfully executed by Amey Enterprises:
          <ul class="aboutUsData">
            <li> Serial production of common mode choke for EPCOS components</li>
            <li> SMPS tranformer, Torroial Inductor, Drum Core Inductor for Joshi Electonics, Surge Technologies, Milennium Semicondutors,
              Lakwim Godrej, Pradnya Electricals, Winsom Electronics for various applications in Electronics and Automobile
              Electronics</li>
            <li> Solenoid Coils for elctronics lock to Darshana Industries for Reliance group </li>
            <li> Dash Board Assembly to Mahindra Stoneridge Instruments Ltd. For Mahindra Tractors</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="enquiry col-sm-4 col-md-4 col-lg-4">
  
    <h2>Enquiry</h2>
    <div>
      <form id="gform" 
            method="post" action="https://script.google.com/macros/s/AKfycbxWGF4E46HZodDXFG8z8fd8pTVYhJld3S_cGnbJe-fn5RX3RxGW/exec">
        <ul>
          <li class="enquiryli col-sm-12 col-md-12 col-lg-12">
            <label  for="name">Name</label><br>
            <input class="enquirycontrol"  type="text" id="name" name="name" required>
          </li>
          <li class="enquiryli col-sm-12 col-md-12 col-lg-12">
            <label  for="email">Email Id</label><br>
            <input class="enquirycontrol" type="email" id="email" name="email">
          </li>
          <li class="enquiryli col-sm-12 col-md-12 col-lg-12">
            <label  for="contact">Contact Number</label><br>
            <input class="enquirycontrol" type="tel" id="contact" name="contactno">
          </li>
          <li class="enquiryli col-sm-12 col-md-12 col-lg-12">
            <label  for="contact">Query</label><br>
            <textarea class="enquirytxtarea" rows="4" id="contact" name="query"></textarea>
          </li>
        </ul>
        <div class="col-sm-12 col-md-12 col-lg-12" style="padding-right: 78px;">
        <button type="submit" class="btn btn-success pull-right">Submit</button>        
      </div>
      </form>
      <div style="display: none" id="thankyou_message">
          <h2>Thank You for your Submission!!</h2>
          <h4>Our team will get back to you soon.</h4>
          </div>
    </div>
  </div>
</div>
<script data-cfasync="false" type="text/javascript"
src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>