<div class="mainContainer col-sm-12 col-md-12 col-lg-12">
    <br>
  <div class="col-sm-8 col-md-8 col-lg-8">          
    <div class="panel-group" style="overflow-y:auto;width:100%;height:430px;;">
      <div class="panel panel-default">
        <div class="panel-heading panelHeading">Windings</div>
        <div class="panel-body">
            <h4>Winding Facilities: </h4>
            <ul>
            <li>Semi automatic winding machines</li>
            <li>Motorized winding machines</li>
            <li>Toroid winding setup</li>
            <li>Pneumatic</li>
            <li>Hand Pull winding</li>
            <li>High pressure compressor</li>
            </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panelHeading">Assembly</div>
        <div class="panel-body">
          <h4>Assembly facilities </h4>
          <ul>
            <li>High temperature Solder bath</li>
            <li>Curing oven</li>
            <li>Enamel Scrapping Machine</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panelHeading">Testing</div>
        <div class="panel-body">
          <h4>We ensure High Quality by performing thorough testin. Following testing facilities are available:</h4>
          <ul>
            <li>LCRQ meter</li>
            <li>HV Tester</li>
            <li>Multimeter</li>
            <li>Milliohm meter bridge</li>
            <li>Digital Vernier</li>
            <li>Digital Micrometer</li>          
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading panelHeading">Packing</div>
        <div class="panel-body">Panel Content</div>
      </div>    
    </div>
</div>
<div class="col-sm-4 col-md-4 col-ld-4">
    <carousel>
        <slide style="height:430px!important;width:45px!important">
          <img src="assets/1.jpg" alt="First slide">
          <div class="carousel-caption">
              <h4>Winding</h4>              
            </div>
        </slide>
        <slide style="height:430px!important;width:45px!important">
          <img src="assets/2.jpg" alt="Second slide">
          <div class="carousel-caption">
              <h4>Trasnformer</h4>             
            </div>
        </slide>
        <slide style="height:430px!important;width:45px!important">
          <img src="assets/3.jpg" alt="Third slide">
          <div class="carousel-caption">
              <h4>Torroid Winding</h4>              
            </div>
        </slide>
        <slide style="height:430px!important;width:45px!important">
            <img src="assets/4.jpg" alt="Fourth slide">
            <div class="carousel-caption">
                <h4>Wires</h4>               
              </div>
        </slide>
        <slide style="height:430px!important;width:45px!important">
            <img src="assets/5.jpg" alt="Fifth slide">
            <div class="carousel-caption">
                <h4>Soldering POT</h4>                
              </div>
        </slide>
        <slide style="height:430px!important;width:45px!important">
            <img src="assets/6.jpg" alt="Sixth slide">
            <div class="carousel-caption">
                <h4>Winding</h4>                
              </div>
        </slide>
      </carousel>
</div>
</div>