.footerDiv{
    background-color:#1F1E1D;
    padding: 30px;
    }


    .footerHead{
        display: inline;
        font-size: 20px;
        padding-left: 15px;
        padding-right:5px;
        padding-top: 10px;
        padding-bottom: 0px;    
        color: #FB5D00;
        }

        .footerData{
            font-size: 15px;
            padding-left: 15px;
            padding-right:5px;
            padding-top: 10px;
            padding-bottom: 0px;    
            color:white;
            }

            .fa {
                padding: 20px;
                font-size: 30px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
                color: white;
            }
            .fa:hover{
                color: #FB5D00;
            }