<div class="row footerDiv">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <p class="footerHead">Office</p>
         <p class="footerData">Dangat Industrial Estate,<br>Shivne, Pune<br>Maharashtra, India </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <p class="footerHead">Support</p>
        <p class="footerData">+91-9999-999-555 <br>wecare@ameyenterprise.com</p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <p class="footerHead">Connect Us</p>
        <p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-google"></a>
        </p>
    </div>
</div>
