<div class="mainContainer">
  <br>
  <div class="col-sm-8 col-md-8 col-lg-8">
      <carousel>
          <slide style="height:430px!important;width:45px!important">
            <img src="assets/Home1.jpg" alt="First slide">
            <div class="carousel-caption">
                <h4>Winding</h4>              
              </div>
          </slide>
          <slide style="height:430px!important;width:45px!important">
            <img src="assets/Home2.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h4>Trasnformer</h4>             
              </div>
          </slide>
          <slide style="height:430px!important;width:45px!important">
            <img src="assets/Home3.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h4>Torroid Winding</h4>              
              </div>
          </slide>
          <slide style="height:430px!important;width:45px!important">
              <img src="assets/Home4.jpg" alt="Fourth slide">
              <div class="carousel-caption">
                  <h4>Wires</h4>               
                </div>
          </slide>
        </carousel>
  </div>
  <div class="homeData col-sm-4 col-md-4 col-lg-4">
    <br>
      <h4 class="whyAmey">Why Ameya Enterprises??</h4>
      <br><br>
      <ul class="whyAmeyList">
        <li>Over 20+ years of Industry experience</li>
        <li>Expertise in Electromagnetic domain</li>
        <li>Quality is our priority</li>
        <li>On time deliveries</li>      
        <li>We strive to reduce Customer Costs by providing best alternatives</li>
        <li>Skilled resources</li>
      </ul>
  </div>
</div>